# Virtual environments
francouke-venv/
env/
venv/
lib/
include/
bin/
pyvenv.cfg

# macOS junk
.DS_Store
__MACOSX/

# Python cache
__pycache__/
*.py[cod]

# Django
*.sqlite3
*.log
staticfiles/
.env

# Ignore local backup files
backups/
*.json

# Ignore SQLite databases
*.sqlite3

# Ignore Python virtual environments
venv/
francouke-venv/

# Ignore Django migration cache files
**/__pycache__/
*.pyc

# Ignore local settings or secrets
.env
*.log
media/assets/2025/09/02843e73-2267-47eb-aad5-f847a38e22e7.jpeg
media/assets/2025/09/13725776-b3bf-46cc-ae07-8fe79d88815d.jpeg
media/assets/2025/09/4612f846-9983-4227-9e8c-387a9c71a109.png
media/assets/2025/09/5fd65d40-30f8-460b-863f-e0979fc20b48.jpg
media/assets/2025/09/6829131c-9eb3-4dd1-9bde-4c68ffa64681.png
media/assets/2025/09/6dad7211-d902-4482-b6ab-8946d3c08d36.jpg
media/assets/2025/09/6dadb425-7a14-40f9-b02f-790be7f81db4.jpg
media/assets/2025/09/7617a1b4-c80e-4569-ad8d-c27c26a5fc3f.jpeg
media/assets/2025/09/771f4dd1-8229-4244-a513-20d88dca5f03.mp4
media/assets/2025/09/86e23f6f-6022-4cad-be38-e8cfa23fb678.mp4
media/assets/2025/09/890ba5df-679a-4e4e-bd93-341dfd04f871.jpg
media/assets/2025/09/92361777-4a2b-4c21-ade3-8a6275b1c968.png
media/assets/2025/09/92b28ebd-6cc5-44ab-93be-8d2a8153bb95.jpeg
media/assets/2025/09/aede724d-87b0-44f3-8c30-d1934193c114.jpeg
media/assets/2025/09/b0b3eafd-ab12-458c-8b0b-3d005a92a9bd.jpg
media/assets/2025/09/c25b507b-81c3-47aa-837a-68795bebb7e6.webp
media/assets/2025/09/c98de108-9090-4c87-ae12-3a88400852eb.jpg
media/assets/2025/09/d23a262d-39f2-42c1-afd5-2a66aafc002f.png
media/assets/2025/09/d34cbc5c-7340-4fd1-b3ab-a6cd6d206049.jpeg
media/assets/2025/09/e1801e23-a9b2-472d-a327-d4983af34b2c.jpg
media/assets/2025/09/e4c7138a-276e-4c3b-9ded-d83f1445ecdc.mp4
media/assets/2025/10/12771302-f6a0-408e-bbf8-c4f9b5eda489.png
media/assets/2025/10/1f4987b5-b34d-4012-b3af-2739ed8cc7c3.jpeg
media/assets/2025/10/1f4987b5-b34d-4012-b3af-2739ed8cc7c3.png
media/assets/2025/10/7f4e99ef-a737-47f9-accb-2840316f1f71.png
media/assets/2025/10/93b1ed4b-b002-4f1c-a402-3aae497c8c44.jpeg
media/assets/2025/10/ac8a5856-0859-4186-b764-09937e67e52a.jpeg
media/assets/2025/10/d297b510-cbe1-40c4-ace0-8448a9e85473.jpeg
media/assets/2025/10/d62bc230-8d39-4412-ad62-0a5daeb1ba02.png
media/assets/2025/10/dbf41a8e-0ff0-4c99-9791-5b00ca789cc7.jpg
media/board_media/barclay_house_LoDb0fl.png
media/board_media/barclay_house_Uau3YFz.png
media/board_media/barclay_house_wbLkUML.png
media/board_media/EastHolme.jpeg
media/board_media/EastHolme_AXyblxw.jpeg
media/board_media/north_bay_100.png
media/board_photos/burrows.jpeg
media/board_photos/IMG_4670_ihbdSv2.JPG
media/board_photos/IMG_4671_xjw8Ugn.JPG
media/board_photos/IMG_4674.JPG
media/board_photos/IMG_4678.JPG
media/board_photos/IMG_4682.JPG
media/board_photos/IMG_4683.JPG
media/board_photos/IMG_4684.JPG
media/board_photos/IMG_4686.JPG
media/board_photos/IMG_4689.JPG
media/board_photos/IMG_4690.JPG
media/board_photos/IMG_4691.JPG
media/board_photos/IMG_4692.JPG
media/board_photos/IMG_4693.JPG
media/board_photos/IMG_4694.JPG
media/board_photos/IMG_4695.JPG
media/board_photos/IMG_4696.JPG
media/board_photos/IMG_4697.JPG
media/board_photos/IMG_4700.JPG
media/board_photos/IMG_4701.JPG
media/board_photos/IMG_4702.JPG
media/board_photos/IMG_4705.JPG
media/board_photos/IMG_4706.JPG
media/board_photos/IMG_4710.JPG
media/board_photos/IMG_4715.JPG
media/board_photos/IMG_4722.JPG
media/board_photos/IMG_4726.JPG
media/board_photos/IMG_4731.JPG
media/board_photos/IMG_4732.jpg
media/board_photos/IMG_4732_YclSu55.jpg
media/board_photos/IMG_4735.JPG
media/board_photos/IMG_4737.JPG
media/board_photos/IMG_4739.JPG
media/board_photos/IMG_4744.JPG
media/board_photos/IMG_4746.JPG
media/board_photos/IMG_4747.JPG
media/board_photos/IMG_4748.JPG
media/board_photos/IMG_4997_Ckdwqx3.JPG
media/board_photos/IMG_4997_WVN6Um7.JPG
media/board_photos/IMG_5006_CZmPkGP.JPG
media/board_photos/IMG_5006_Im2kV5S.JPG
media/board_photos/sunridge.png
media/board_photos/Sunridge_2025-.jpg
media/board_photos/Sunridge_2025-2.jpg
media/board_photos/Sunridge_2025-3.jpg
media/board_photos/Sunridge_2025-5.jpg
media/event_photos/anh.png
media/event_photos/barclay_house.png
media/event_photos/barclay_house_A5zQLUl.png
media/event_photos/barclay_house_ND9r8kd.png
media/event_photos/barclay_house_qYGIaGO.png
media/event_photos/barclay_house_tksdCST.png
media/event_photos/burrows.png
media/event_photos/callandar_over_50.png
media/event_photos/EastHolme_wyDsZNh.jpeg
media/event_photos/empire.png
media/event_photos/empire_4VrKNug.png
media/event_photos/free_christmas_dinner.png
media/event_photos/IMG_4997.JPG
media/event_photos/IMG_4997_9ZrYInE.JPG
media/event_photos/IMG_5006.JPG
media/event_photos/IMG_5006_cZboR7Z.JPG
media/event_photos/marina_point_village.png
media/event_photos/nbhs.png
media/event_photos/NBRHC.png
media/event_photos/nearnorthpalliative.png
media/event_photos/north_bay_100.png
media/event_photos/practice_makes_perfect.png
media/event_photos/probus.png
media/event_photos/summerschool.png
media/event_photos/world_singing_day.png
media/venues/barclay_house_RzW1JqE.png
media/venues/EastHolme_Tb3qmqK.jpeg
media/venues/marina_point_village_RapJlJU.png
media/venues/sundridge_sunflower_festival.png
