asgiref==3.8.1
bleach==6.2.0
certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.3
crispy-bootstrap4==2024.10
Django==5.2.2
django-ckeditor==6.7.3
django-crispy-forms==2.4
django-extensions==4.1
django-js-asset==3.1.2
django-taggit==6.1.0
djangorestframework==3.16.1
docutils==0.22
filetype==1.2.0
idna==3.10
pillow==10.4.0
Pygments==2.19.2
reportlab==4.4.1
requests==2.32.5
sqlparse==0.5.3
Unidecode==1.4.0
urllib3==2.5.0
webencodings==0.5.1
