<footer class="text-center mt-4 py-3 bg-light border-top">
    <p>
        {% if site_name == "FrancoUke" %}
            Are you looking for English songs? 🎸 
            <a href="{% url 'strumsphere:song_list' %}" class="btn btn-outline-primary btn-sm">
                Visit StrumSphere
            </a>
        {% elif site_name == "StrumSphere" %}
            Êtes-vous à la recherche de chansons françaises? 🎵  
            <a href="{% url 'francouke:song_list' %}" class="btn btn-outline-success btn-sm">
                Visitez FrancoUke
            </a>
        {% endif %}
    </p>
</footer>
