{% extends "songbook/teleprompter_base.html" %}

{% block lyrics_header %}
  <div class="metadata">
    <h1>{{ song.songTitle }}</h1>
    {% if metadata.subtitle %}
      <div class="song-subtitle">{{ metadata.subtitle }}</div>
    {% endif %}
    {% if metadata.songwriter %}
      <div class="songwriter">{{ metadata.songwriter }}</div>
    {% endif %}
    {% if metadata.artist %}
      <div class="recording">
        {{ metadata.artist }}{% if metadata.year %} ({{ metadata.year }}){% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
