/* static/css/uke4ia.css */
.bg-uke4ia-dark {
    background-color: #0a3d91; /* Deep navy-like */
}

.bg-uke4ia-light {
    background-color: #1e90ff; /* Lighter, vibrant blue */
}
.list-group-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item a:hover {
    background-color: #f0f8ff;
    border-radius: 0.25rem;
}
