<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="{% url 'songbook-home' %}">Le chansonnier FrancoUke</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'chord-dictionary' %}">Dictionnaire d'accord</a>
          <a class="nav-item nav-link" href="{% url 'songbook-about' %}">A propos</a>
          <a class="nav-item nav-link" href="{% url 'songbook-betabugs' %}">En dévelopement</a>
        </div>
        
      </div>       
      
<!-- Navbar Right Side -->
<div class="navbar-nav ms-auto">
  {% if user.is_authenticated %}
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bienvenue, {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li>
                  <a class="dropdown-item" href="#">Nom: {{ user.first_name }} {{ user.last_name }}</a>
              </li>
              <li>
                  <a class="dropdown-item" href="{% url 'song-create' %}">Nouvelle Chanson</a>
              </li>
            <li>
                <a class="dropdown-item" href="{% url 'users:user_preferences' %}">Préférences Utilisateur</a>
            </li>

              <li>
                  <hr class="dropdown-divider">
              </li>
              <li>
                  <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
              </li>
          </ul>
      </div>
      <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
          {% csrf_token %}
      </form>
  {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'register' %}">S'inscrire</a>
  {% endif %}
</div>


        </div>
      </div>
    </div>
  </nav>